<div ng-controller="NewArticleCtrl">

  <div>
    <h3>Spread the word!</h3>
  </div>

  <div>
    <form class="form-horizontal">
      <div class="form-group">
        <label for="titleEdit">Title:</label><br />
        <input class="form-control" type="text" ng-model="title"/><br />
      </div>
      <div class="form-group">
        <label for="subtitleEdit">Subtitle:</label><br />
        <input class="form-control" type="text" ng-model="subtitle"/><br />
      </div>
      <div class="form-group">
        <label for="bodyEdit">Text:</label><br />
        <textarea class="form-control" rows="3" ng-model="body"/><br />
      </div>
    </form>
  </div>

  <div>
    <div><h3>Title: {{title}}</h3></div>
    <div><h4 class="text-muted">Subtitle: {{subtitle}}</h4></div>
    <div><p>Text: {{body}}</p></div>
  </div>

  <div>
    <p><a href="#/" class="btn btn-danger pull-left">
      <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
      Back without saving</a></p>
    <p><a href="#/" class="btn btn-success pull-right" ng-click="functions.createArticle()">
      <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
      Publish this article</a></p>
  </div>
</div>
